<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid" src="https://images.pexels.com/photos/11966990/pexels-photo-11966990.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"><div class="card">
                <div class="card-body">
                    <img class="img-fluid" src="https://images.pexels.com/photos/28359348/pexels-photo-28359348/free-photo-of-a-woman-in-a-black-dress-stands-in-a-field.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"><div class="card">
                <div class="card-body">
                    <img class="img-fluid" src="https://images.pexels.com/photos/27750569/pexels-photo-27750569/free-photo-of-model-in-black-tube-top-and-leggings-holding-her-hat.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Content</p>
                </div>
            </div>
        </div>
    </div>
</div>